
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet1" href="styles.css">
<img src="~/images/download.png" alt="School Logo" />

<h1>Welcome to School Admission System</h1>



<button type="submit"> @Html.ActionLink("Classes", "index", "Classes")</button>
<button type="submit"> @Html.ActionLink("Fees", "index", "Fees")</button>
<button type="submit">    @Html.ActionLink("Admissions", "index", "Admissions")</button>
<button type="submit">    @Html.ActionLink("Students", "index", "Students")</button>
@Html.ActionLink("Back", "Admin")
